<div class="grid-x">
    <div class="cell filepath small-7 small-offset-1">
        <%= link_to("/filepaths/#{commit_filepath.filepath.slug}") do %>
            <i class="vhp-icon-file"></i>
            <%= commit_filepath.filepath.filepath %>
        <% end %>
    </div>
    <div class="cell small-2">
        <%= render partial: "shared/churn_bar", locals: { commit_filepath: commit_filepath } %>
    </div>
</div>
