<%= link_to "/#{fix.vulnerability.cve}", class: 'fix link' do %>
    <i class="vhp-icon-fix"></i>
    Fix
    <span class="name">
        <%= fix.vulnerability.nickname %> <%= fix.vulnerability.cve %>
    </span>
<% end %>
