<%= form_for(commit) do |f| %>
  <% if commit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commit.errors.count, "error") %> prohibited this commit from being saved:</h2>

      <ul>
      <% commit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
