<%= link_to "/#{vcc.vulnerability}", class: 'vcc link' do %>
    <i class="vhp-icon-vcc"></i>
    VCC
    <span class="name">
        <%= vcc.vulnerability.nickname %> <%= vcc.vulnerability.cve %>
    </span>
<% end %>
