<p id="notice"><%= notice %></p>

<div class="row">
  <h1>Commits </h1>

  <table id="datatable" class="display" width="100%">
    <thead></thead>
    <tbody></tbody>
    <tfoot></tfoot>
  </table>
</div>

<%= javascript_include_tag "commits/index" %>
