<p id="notice"><%= notice %></p>

<h1>Commits</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commits.each do |commit| %>
      <tr>
        <td><%= link_to 'Show', commit %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
