<p id="notice"><%= notice %></p>

<div class="row">
  <h1>Developers </h1>

  <div class="grid-x">
    <div class="cell large-6 large-offset-1">
      <p>
        <%= markdown(@project.developers_description) %>
      </p>
    </div>
  </div>

  <%= render 'shared/loading' =%>

  <table id="datatable" class="display" width="100%">
    <thead></thead>
    <tbody></tbody>
    <tfoot></tfoot>
  </table>
</div>

<%= javascript_include_tag "developers/index" %>
