<% content_for(:title) do %>
  How To Contribute
<% end %>

<%content_for :head  do %>
  <%= stylesheet_link_tag('how-to-curate') %>
<% end %>

<% content_for(:container_css) { "how-to-curate no-padding fluid " }%>

<div class="grid-y align-items-center">
  <h1 class="centered-title">How To Contribute</h1>

  <div class="cell grid-y gap-2 full-container">
    <div class="full-card top-card">
      <p> This project relies upon a massive effort to collect, correct, and
        annotate vulnerability history data. We call this process <b>curating</b>.
      </p>
      <p> Today, the majority of our curating comes from a class assignment in our
        upper-level required course, <em>Engineering Secure Software</em>. <a
          href="https://github.com/VulnerabilityHistoryProject/chromium-vulnerabilities/tree/dev/assignment">Example
          instructions of that assignment can be found here.</a> In the future we
        plan on adapting those instructions to a broader audience and putting
        step-by-step instructions in here.</p>

      <p>
        However, we are currently piloting <b>professional development workshops</b> to guide people through this process. If you are interested in one of these workshops, please <a href="/about#contact">contact us</a>.
      </p>
    </div>

    <div class="cell full-card bottom-card">
      <div class="top">
        <h2>Who should curate?</h2>
        <p>Anyone with <b>some programming experience</b> can curate a
          vulnerability. Our students in the software engineering program who
          typically curate these vulnerabilities are juniors and seniors. A
          vulnerability is just an engineering mistake, usually manifesting itself
          in code. So all you need to understand is code.</p>
        <p><i>You do not need to be security expert or hobbyist.</i> In fact,
          curation is a fantastic learning experience. So maybe curating a
          vulnerability if how you learn about your first vulnerability!</p>
        <p><i>You do not need to expert in the project.</i> You don't need to have
          written an entire browser to understand the basics of what happened in a
        specific, narrow situation.</p>
      </div>

      <div class="bottom">
        <h2>Who should I write for?</h2>
        <p>Again, anyone <b>some programming experience</b>. You are writing to your
          peers, both junior and senior. You can assume that your audience knows the
          basics about programming, for example, technical words like "pointers" are
          okay. </p>
      </div>
    </div>



  </div>
</div>

