<%= render('shared/title') do %>
  Data Curation
<% end %>

<%= render('shared/grid', size: 8) do %>
<p>
  This project relies upon a massive effort to collect, correct, and annotate vulnerability history data. We call this process <b>curating</b>.
</p>

<ul class="tabs"
    id="curate-tabs"
    data-tabs
    data-deep-link="true"
    data-update-history="true"
    data-deep-link-smudge="true"
    data-deep-link-smudge-delay="500">
  <li class="tabs-title is-active">
    <a href="#progress" aria-selected="true" draggable="false">
      <i class="vhp-icon-graph-pie"></i>
      Progress
    </a>
  </li>
  <li class="tabs-title">
    <a href="#howto" draggable="false">
      <i class="vhp-icon-curate"></i>
      How to Curate
    </a>
  </li>
</ul>
<% end %>

<div data-tabs-content="curate-tabs">
  <div class="tabs-panel is-active" id="progress">
    <%= render 'progress' %>
  </div>
  <div class="tabs-panel" id="howto">
    <%= render 'howto' %>
  </div>
</div>
