<%= render('shared/title') do %>
  How To Curate
<% end %>

<%= render('shared/grid', size: 8) do %>
<p>
  This project relies upon a massive effort to collect, correct, and annotate vulnerability history data. We call this process <b>curating</b>. TODO write more here.
</p>
<% end %>
