<%= render('shared/title') do %>
  Data Curation
<% end %>

<%= render('shared/grid', size: 8) do %>
  <p>
    This project relies upon a massive effort to collect, correct, and annotate vulnerability history data. We call this process <b>curating</b>.
  </p>

  <h2>About Our Curators</h2>

  <p>Most of our curators are undergraduate software engineering students at Rochester Institute of Technology. Students are required to complete a vulnerability history study, and are allowed to volunteer their submissions to this project.</p>

<% end %>

<%= render 'progress' %>
