openapi: 3.1.0
servers:
  - url: "https://vulnerabilityhistory.org/"
info:
  title: Vulnerability History Project RESTful API
  description: |
    This read-only API allows detailed access to the VHP data.

    This documentation is a work-in-progress. If you want to contribute, see [our issue on GitHub](https://github.com/VulnerabilityHistoryProject/vulnerability-history/issues/956). For now, these are our main endpoints for you to explore:

      * /api/vulnerabilities/
      * /api/vulnerabilities/1/
      * /api/vulnerabilities/1/events
      * /api/commits
      * /api/commits/1/developer
      * /api/developers
      * /api/developers/1/commits
      * /api/filepaths
      * /api/filepaths/1
      * /api/tags/
      * /api/tags/1
      * /api/articles
      * /api/articles/1
      * /api/corpus
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
paths:
  /api/vulnerabilities:
    get:
      operationId: listVulnerabilities
      summary: /api/vulnerabilities
      description: Returns a non-detailed list of all vulnerabilities
      parameters:
        - name: short_descriptions
          description: |
            Should the descriptions be truncated? Mainly used in the VHP UI
          in: query
          required: false
          schema:
            type: boolean
        - name: limit
          description: |
            Limit the number of results
          in: query
          required: false
          schema:
            type: integer
        - name: offset
          description: |
            Return a subset of the results, offset by this number
          in: query
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      description: VHP's primary key. Subject to change without notice.
                      type: integer
                      format: int32
                    cve:
                      description: Unique, public identifier string
                      type: string
                    announced:
                      description: Parseable date format
                      type: string
                    upvotes:
                      description: A community-generated measurement of how interesting this vulnerability is.
                      type: integer
                      format: int32
                    nickname:
                      description: |
                        A community-generated nickname, under 30 chars
                      type: string
                    project_name:
                      description: |
                        Title of the project this vulnerability is fromt
                      type: string
                    subdomain:
                      description: Shorthand name for the project, e.g. "httpd" instead of "Apache HTTPD Web Server"
                      type: string
                    tag_json:
                      description: |
                        List of tags associated with this vulnerability
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            description: |
                              VHP's primary key for the tag. Subject to change without notice. A current list of tag mappings can be found at /api/tags endpoint.
                            type: integer
                            format: int32
                          importance:
                            description: |
                              A subjective number calculated to visually prioritize tags according how important we think they are to this vulnerability's story.
                            type: integer
                            format: int32
                    description:
                      type: string
              # examples:
              #   example1:
              #     summary: /api/vulnerabilities (no parameters)
              #     value:
        "400":
          description: Malformed request.
          content: {}
        "500":
          description: |
            Internal error. Please report these on our
            [issue tracker](https://github.com/VulnerabilityHistoryProject/vulnerability-history/issues).
          content: {}

  /api/vulnerabilities/{id}:
    operationId: getVulnerability
    summary: /api/vulnerabilites/{id}
    description: Returns detailed information on a vulnerability with the specified ID
    parameters:
      - name: id
        description: |
          The VHP internal ID of the vulnerability
        in: path
        required: true
        schema:
          type: integer
      - name: short_descriptions
        description: |
          Should the descriptions be truncated? Mainly used in the VHP UI
        in: query
        required: false
        schema:
          type: boolean
    responses:
      "200":
        description: OK
        content:
            application/json:
              definitions:
                id:
                  description: VHP's primary key. Subject to change without notice.
                  type: integer
                  format: int32
                cve:
                  description: Unique, public identifier string
                  type: string
                project_id:
                  # Not sure if this info is correct
                  description: Project ID that this vulnerability falls under
                  type: integer
                  format: int32
                announced:
                  description: The date that this vulnerability was announced
                  type: string
                description:
                  description: The handwritten description of the vulnerability
                  type: string
                short_desc:
                  type: string
                upvotes:
                  type: integer
                  format: int32
                nickname:
                  type: string
                notes:
                  type: object
                  properties:
                    CVE:
                      type: string
                    CWE:
                      type: array
                      items:
                        type: integer
                        format: int32
                    bugs:
                      type: array
                      items:
                    repo:
                      type: string
                      format: nullable
                    vccs:
                      type: array
                      items:
                        type: object
                        properties:
                          note:
                            type: string
                            format: nullable
                          commit:
                            type: string
                            format: nullable
                    fixes:
                      type: array
                      items:
                    bounty:
                      type: object
                      properties:
                        date:
                          type: string
                          format: nullable
                        amount:
                          type: string
                          format: nullable
                        references:
                          type: array
                          items:
                    lessons:
                      type: object
                      properties:
                        yagni:
                          type: object
                          properties:
                            note:
                              type: string
                              format: nullable
                            applies:
                              type: string
                              format: nullable
                        question:
                          type: string
                        serial_killer:
                          type: object
                          properties:
                            note:
                              type: string
                              format: nullable
                            applies:
                              type: string
                              format: nullable
                        complex_inputs:
                          type: object
                          properties:
                            note:
                              type: string
                              format: nullable
                            applies:
                              type: string
                              format: nullable
                        distrust_input:
                          type: object
                          properties:
                            note:
                              type: string
                              format: nullable
                            applies:
                              type: string
                              format: nullable
                        least_privilege:
                          type: object
                          properties:
                            note:
                              type: string
                              format: nullable
                            applies:
                              type: string
                              format: nullable
                        native_wrappers:
                          type: object
                          properties:
                            note:
                              type: string
                              format: nullable
                            applies:
                              type: string
                              format: nullable
                        defense_in_depth:
                          type: object
                          properties:
                            note:
                              type: string
                              format: nullable
                            applies:
                              type: string
                              format: nullable
                        secure_by_default:
                          type: object
                          properties:
                            note:
                              type: string
                              format: nullable
                            applies:
                              type: string
                              format: nullable
                        environment_variables:
                          type: object
                          properties:
                            note:
                              type: string
                              format: nullable
                            applies:
                              type: string
                              format: nullable
                        security_by_obscurity:
                          type: object
                          properties:
                            note:
                              type: string
                              format: nullable
                            applies:
                              type: string
                              format: nullable
                        frameworks_are_optional:
                          type: object
                          properties:
                            note:
                              type: string
                              format: nullable
                            applies:
                              type: string
                              format: nullable
                    reviews:
                      type: array
                      items:
                    upvotes:
                      type: string
                      format: nullable
                    mistakes:
                      type: object
                      properties:
                        answer:
                          type: string
                          format: nullable
                        question:
                          type: string
                    announced:
                      type: string
                    subsystem:
                      type: object
                      properties:
                        name:
                          type: string
                          format: nullable
                        answer:
                          type: string
                          format: nullable
                        question:
                          type: string
                    discovered:
                      type: object
                      properties:
                        date:
                          type: string
                          format: nullable
                        answer:
                          type: string
                          format: nullable
                        google:
                          type: string
                          format: nullable
                        contest:
                          type: string
                          format: nullable
                        question:
                          type: string
                        automated:
                          type: string
                          format: nullable
                    description:
                      type: string
                      format: nullable
                    unit_tested:
                      type: object
                      properties:
                        fix:
                          type: string
                          format: nullable
                        code:
                          type: string
                          format: nullable
                        answer:
                          type: string
                          format: nullable
                        question:
                          type: string
                    major_events:
                      type: object
                      properties:
                        answer:
                          type: string
                          format: nullable
                        events:
                          type: array
                          items:
                            type: object
                            properties:
                              date:
                                type: string
                                format: nullable
                              name:
                                type: string
                                format: nullable
                        question:
                          type: string
                    curation_level:
                      type: integer
                      format: int32
                    CWE_instructions:
                      type: string
                    bounty_instructions:
                      type: string
                    interesting_commits:
                      type: object
                      properties:
                        answer:
                          type: string
                          format: nullable
                        commits:
                          type: array
                          items:
                            type: object
                            properties:
                              note:
                                type: string
                                format: nullable
                              commit:
                                type: string
                                format: nullable
                        question:
                          type: string
                    curated_instructions:
                      type: string
                    upvotes_instructions:
                      type: string
                    announced_instructions:
                      type: string
                    fixes_vcc_instructions:
                      type: string
                    description_instructions:
                      type: string


  /api/commits:
    get:
      operationId: listCommits
      summary: /api/commits
      description: Returns a non-detailed list of all VCC commits
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      description: |
                        The primary key of the commit. Currently null for unknown reasons
                      type: integer
                      format: int32
                    commit_hash:
                      description: The unique hash of the commit
                      type: string
                    email:
                      description: The email address of the developer responsible for the commit
                      type: string
                    date_created:
                      description: Parseable date format
                      type: string
              # examples:
              #   example1:
              #     summary: /api/commits (no parameters)
              #     value:
        "400":
          description: Malformed request.
          content: {}
        "500":
          description: |
            Internal error. Please report these on our
            [issue tracker](https://github.com/VulnerabilityHistoryProject/vulnerability-history/issues).
          content: {}

  /api/developers: # TODO: Get the response data using https://roger13.github.io/SwagDefGen/
    get:
      operationId: listCommits
      summary: /api/commits
      description: Returns a non-detailed list of all VCC commits
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      description: |
                        The primary key of the commit. Currently null for unknown reasons
                      type: integer
                      format: int32
                    commit_hash:
                      description: The unique hash of the commit
                      type: string
                    email:
                      description: The email address of the developer responsible for the commit
                      type: string
                    date_created:
                      description: Parseable date format
                      type: string
              # examples:
              #   example1:
              #     summary: /api/commits (no parameters)
              #     value:
        "400":
          description: Malformed request.
          content: {}
        "500":
          description: |
            Internal error. Please report these on our
            [issue tracker](https://github.com/VulnerabilityHistoryProject/vulnerability-history/issues).
          content: {}

  # /api/filepaths:
  #   get:
  #     summary:
  #     description:
  #     parameters:
  #     responses:
  # /api/tags:
  #   get:
  #     summary:
  #     description:
  #     parameters:
  #     responses:
  # /api/articles:
  #   get:
  #     summary:
  #     description:
  #     parameters:
  #     responses:
  # /api/corpus:
  #   get:
  #     summary:
  #     description:
  #     parameters:
  #     responses:
  # /api/vulnerabilities/1/events:
  # /api/commits/1/developer:
  # /api/developers/1/commits
  # /api/filepaths/1:
  # /api/tags/1
  # /api/articles/1