
<div id="blurb-2even-template"
     class="vhp-articles grid-x grid-padding-x hidden">
  <div class="blurb cell medium-6">
    <div class="grid-x grid-margin-x grid-margin-y">
      <div class="blurb-art cell large-6 large-order-2 small-order-1"></div>
      <div class="blurb-text cell large-6 large-order-1 small-order-2"></div>
    </div>
  </div>
  <div class="blurb cell medium-6">
    <div class="grid-x grid-margin-x grid-margin-y">
      <div class="blurb-art cell large-6 large-order-2 small-order-1"></div>
      <div class="blurb-text cell large-6 large-order-1 small-order-2"></div>
    </div>
  </div>
</div>

<div id="blurb-3even-template"
     class="vhp-articles grid-x grid-padding-x hidden">
  <div class="blurb cell medium-3">
    <div class="grid-y grid-margin-y">
      <div class="blurb-art cell medium-5"></div>
      <div class="blurb-text cell medium-7"></div>
    </div>
  </div>
  <div class="blurb cell medium-3">
    <div class="grid-y grid-margin-y">
      <div class="blurb-art cell medium-5"></div>
      <div class="blurb-text cell medium-7"></div>
    </div>
  </div>
  <div class="blurb cell medium-3">
    <div class="grid-y grid-margin-y">
      <div class="blurb-art cell medium-5"></div>
      <div class="blurb-text cell medium-7"></div>
    </div>
  </div>
</div>

<div id="blurb-1big-template"
     class="blurb-big cell medium-9">
  <div class="grid-x grid-margin-x grid-margin-y">
    <div class="blurb-art cell medium-7"></div>
    <div class="blurb-text cell medium-5"></div>
  </div>
</div>

<div id="blurb-1big1small-template"
     class="blurb blurb-verbose cell medium-9">
  <div class="grid-x grid-margin-x grid-margin-y">
    <div class="blurb-art cell medium-7"></div>
    <div class="blurb-text cell medium-5"></div>
  </div>
</div>
