<div id="blurb-1big-template"
     class="vhp-articles blurb blurb-big cell medium-9">
  <div class="grid-x grid-margin-x grid-margin-y align-center">
    <div class="blurb-art cell medium-5"></div>
    <div class="blurb-text cell medium-4"></div>
  </div>
</div>

<div id="blurb-4even-template"
     class="vhp-articles grid-x grid-padding-x hidden">
  <div class="blurb cell medium-3">
    <div class="grid-y grid-margin-y">
      <div class="blurb-art cell medium-5"></div>
      <div class="blurb-text cell medium-7"></div>
    </div>
  </div>
  <div class="blurb cell medium-3">
    <div class="grid-y grid-margin-y">
      <div class="blurb-art cell medium-5"></div>
      <div class="blurb-text cell medium-7"></div>
    </div>
  </div>
  <div class="blurb cell medium-3">
    <div class="grid-y grid-margin-y">
      <div class="blurb-art cell medium-5"></div>
      <div class="blurb-text cell medium-7"></div>
    </div>
  </div>
  <div class="blurb cell medium-3">
    <div class="grid-y grid-margin-y">
      <div class="blurb-art cell medium-5"></div>
      <div class="blurb-text cell medium-7"></div>
    </div>
  </div>
</div>

<div id="blurb-1big1small-template"
     class="vhp-articles blurb blurb-verbose cell medium-9">
  <div class="grid-x grid-margin-x grid-margin-y">
    <div class="blurb-art cell medium-6"></div>
    <div class="blurb blurb-text cell medium-3"></div>
    <div class="blurb cell medium-3">
      <div class="grid-y grid-margin-y">
        <div class="blurb-art cell medium-5"></div>
        <div class="blurb-text cell medium-7"></div>
      </div>
    </div>
  </div>
</div>

<div id="blurb-1wide-template"
     class="vhp-articles blurb ">
  <div class="grid-x grid-margin-x grid-margin-y align-center">
    <div class="blurb-art cell medium-3"></div>
    <div class="blurb-text cell medium-8"></div>
  </div>
</div>
