<% 
i = commit_filepath.insertions
d = commit_filepath.deletions
i_blocks = Math.log10(i + 1)
d_blocks = Math.log10(d + 1)
%>
<div class="churn-bar">
    <span class="num-bar-container">
    <% if i > 0 %>
        <span class="insertions n">+<%= i %></span>
        <span class="insertions-bg bar" style="width: <%= i_blocks %>em"></span>
    <% end %>
    </span>

    <span class="num-bar-container">
    <% if d > 0 %>
        <span class="deletions n">-<%= d %></span>
        <span class="deletions-bg bar" style="width: <%= d_blocks %>em"></span>
    <% end %>
    </span>
</div>
