<div class="grid-x">
  <div class="cell
              medium-<%= local_assigns[:size] %>
              medium-offset-<%= (12 - local_assigns[:size]) / 2 %>
              <%= local_assigns[:css].to_s %>
              ">
    <%= yield %>
  </div>
</div>
