<div id="loading" class="loading"><%=image_path("loading.gif")%></div>
<div id="loading-failed" class="loading" hidden>
    <%=image_path("load-fail.svg")%>
    <div class="alert-error" id="load-alert" style="display:block">We're sorry, we had trouble loading the data...</div>
</div>
