<% content_for(:container_css) { "welcome fluid no-padding " }%>


<div class="landing">
      <!--Ocean Card-->
      <div class="ocean-card">
        <img src="assets/angler-fish-5.png" alt="" class="icon">
        <h1>The Vulnerability History Project</h1>
        <p>A museum of mistakes to help us engineer secure software.</p>
        <button class="tour-btn">Take a Tour</button>
      </div>
      <!--Today's Card-->
      <div class="today">
        <p class="p-day">Today's Vulnerability is...</p>
        <h2>CVE-2020-13776</h2>
        <p class="nickname">aka Mr. 0Day</p>
      </div>
      <!--Suggested Vulnerabilities-->
      <div class="suggest">
        <h2>Suggested vulnerabilities</h2>
        <p>Heartbleed,Shellshock,Rowhammer</p>
      </div>
    </div>
    <!--Video-->
    <div class="vid">
      <iframe src="https://www.youtube.com/embed/M7o9_0mRAzE" title="The Vulnerability History Project: Revealing the Past to Build a Better Future for Software Security" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

