<div class="welcome grid-x">
  <div class="cell">
    <h1 class="centered-title">The Vulnerability History Project</h1>
  </div>
</div>

<div class="welcome grid-x">
  <div class="subtitle cell text-center vhp-markdown">
A **museum** of **mistakes**

to help us engineer secure software.
  </div>
</div>

<div id="article-listing"></div>
<%= render 'shared/article_templates' %>

<%= javascript_packs_with_chunks_tag 'welcome' %>
