<% content_for(:container_css) { "welcome fluid no-padding " }%>


<div class="hero-header">
  <div class="grid-x">
    <div class="cell">
      <h1>The Vulnerability History Project</h1>
    </div>
  </div>

  <div class="grid-x">
    <div class="subtitle cell text-center">
      <h3>A museum of mistakes</h3>
      <h3>to help us engineer secure software</h3>
      <div class="call-to-action">
        <a href="/tour" class="button">Guided Tour</a>
        <a href="/vulnerabilites" class="second">Browse Vulnerabilities</a>
      </div>
    </div>
  </div>
</div>

<div class="story-beat grid-x grid-margin-x">
  <div class="cell small-5">
    <h2>Every blunder has a backstory</h2>
    <p>You've seen it. Another vulnerability. </p>
    <p>Heartbleed. Shellshock. Rowhammer. Spectre. Meltdown. WannaCry. Log4Shell. Always a terrifying name. Always an ocean of information to absorb in exactly zero days.</p>
    <p>Well-meaning engineers labor hard to make their software both function and be secure. In the thousands of lines of code they write, test, document, and code review... they make one mistake... and that's the one that ends up becoming famous.</p>
  </div>
</div>

<h2>What now?</h2>
<div class="story-beat grid-x grid-margin-x">
  <div class="cell small-3">
    <p>The media frenzy blows over, and we're left with questions. How does this impact us? Should we keep using this library? How do we know that they learned their lesson? How will we know that <em>we</em> haven't made a similar mistake?</p>

    <p>Is anyone taking a systematic look at the complex histories behind vulnerabilities? In VHP, that's what we do.</p>

    <p>We dig deeper. We combine state-of-the-art automated repository mining techniques with crowd-sourced curations to collect rich histories of vulnerabilities. We're not about blaming, we're about learning.</p>
  </div>
  <div class="cell small-3">
    <div class="vhp-art-beginning"></div>
  </div>
</div>

<div class="story-beat grid-x grid-margin-x">
  <div class="cell small-3">
    <h3>Data for researchers</h3>
    <p>
      Our database has clean, curated, preprocessed, tagged, and citeable histories of software vulnerabilities of prominent open source projects. VHP 100% open source, with data available on our GitHub or our <a href="/api">RESTful API</a></p>
  </div>
  <div class="cell small-3">
    <h3>Projects for students</h3>
    <p>
      Everyone learns better from real examples. Instead of contriving hypothetical scenarios, students can see how a vulnerability manifests itself in a project.
    </p>
  </div>
  <div class="cell small-3">
    <h3>Techniques for engineers</h3>
    <p>Learn from others, and learn from your own history. Using our visualizations and guides, VHP equips you to look for systemic problems in both your product and your process.</p>
  </div>
</div>

<h2>A story emerges</h2>
<div class="story-beat grid-x grid-margin-x">
  <div class="cell small-4">
    <p>The vulnerability is the endpoints of a long journey. First we trace the vulnerability to its source code fix. Then we mine the repository to find the Vulnerability Contributing Commit (VCC). Then we automatically construct a timeline, then tag. A curator then comes along and corrects the data, telling the broader story of the vulnerability.</p>

    <p>With this methodology, what appears to be a "simple coding mistake" becomes a unique narrative. Reality is messy, tedious, and nuanced.</p>

    <p>Our philosophy is to always provide more context and let the story tell itself.</p>
  </div>
  <div class="cell small-3">
    <div class="vhp-art-snowflake"></div>
  </div>
</div>

<div class="story-beat grid-x grid-margin-x">
  <div class="cell small-2">
    <div class="vhp-art-question"></div>
  </div>
  <div class="cell small-4">
    <h2>Everyone can learn</h2>
    <p>We want everyone to learn from vulnerability history, so we are building activities, assignments, and projects for educators and trainers to adopt. We target for varying levels of technical background, ranging from introductory programming experience to the seasoned software veteran. </p>
  </div>
</div>


<div class="story-beat grid-x grid-margin-x">
  <div class="cell small-3">
    <h3>Evidence-based paradigm</h3>
    <p>Every field that has adopted an evidence-based paradigm has been revolutionized. From medicine to traditional engineering, having your decisions being driven by data advances the field. Software engineering is next.</p>
  </div>
  <div class="cell small-3">
    <h3>Mixed Methods</h3>
    <p> In academic parlance, we are combining quantitative and qualitative methods to collect data. When we can, we automate. But we also believe that not every observation can be automated and requires some human judgment as well.
    </p>
  </div>
</div>

<h2>We dig deeper</h2>
<div class="story-beat grid-x grid-margin-x">
  <div class="cell small-4">
    <p>This is not a dumping ground for CSVs. This is a well of data and analysis that can be revisited for decades to come.</p>

    <p>Projects such as the CVE and NVD aim to be comprehensive, but remain surface level. We can learn through detailed systematic taxonomies and lessons through projects like CWE and OWASP, but differentiating what is  <em>possible</em> from what is <em>probable</em> is difficult. Automated scanners liked Snyk can help get you started in fixing your existing problems, but ignore the socio-technical factors behind the engineering process, leaving teams to continue to repeat their mistakes.</p>

    <p>We've noticed that very little is known or recorded about how a vulnerability came about and how it was missed. But, modern software engineering produce rich artifacts like Git repostories, pull requests, and bug databases that are ripe for mining. </p>

    <p>Indeed, entire academic communities are devoted to understanding and improving engineering practice through mining software repositories. We come from that community, but we also acknowledge that models and experiments are ephemeral. Data is forever.</p>
  </div>
  <div class="cell small-4">
    <div class="vhp-art-cave"></div>
  </div>
</div>


<div class="story-beat grid-x grid-margin-x">
  <div class="cell small-4">
    <div class="vhp-art-mud"></div>
    <h2>There's a lot we don't know</h2>
    <p>All of science is a work-in-progress. For this project to work, we need volunteers to help collect, correct, and curate vulnerabilities. As you peruse the site, watch out for unanswered questions that you can contribute to.</p>
  </div>
</div>

<div class="story-beat grid-x grid-margin-x call-to-action">
  <div class="cell small-2">
    <a href="/articles/guided-tour" class="button">Take a Guided Tour</a>
  </div>
  <div class="cell small-2">
    <a href="/vulnerabilities" class="button">Browse Vulnerabilities</a>
  </div>
  <div class="cell small-2">
    <a href="/curate" class="button">Learn How to Curate</a>
  </div>
</div>

