<% content_for(:container_css) { "welcome fluid no-padding " }%>


  <div class="landing">
    <!--Ocean Card-->
    <div class="ocean-card">
      <img src="assets/angler-fish-5.png" alt="" class="icon">
      <h1>The Vulnerability History Project</h1>
      <h3>A museum of mistakes to help us engineer secure software.</h3>
      <button class="tour-btn button primary">Take a Tour</button>
    </div>
    <!--Suggested Vulnerabilities-->
    <div class="suggest">
      <p>Suggested vulnerabilities: <span class="color-teal">Heartbleed, Shellshock, Rowhammer</span></p>
    </div>
  </div>
  <!--Video-->
  <div class="vid">
    <iframe src="https://www.youtube.com/embed/M7o9_0mRAzE" title="The Vulnerability History Project: Revealing the Past to Build a Better Future for Software Security" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <!--Blunder-->
  <div class="blunder">
    <div class="blunder-left">
      <div class="blunder-left-content">
        <h2 class="color-teal">Every blunder has a backstory</h2>
        <p>You've seen it. Another vulnerability.</p>
        <p><span class="color-teal">Heartbleed. Shellshock. Rowhammer. Spectre. Meltdown. WannaCry. Log4Shell.</span> Always a terrifying name. Always an ocean of information to absorb in exactly zero days.</p>
        <p>Well-meaning engineers labor hard to make their software both function and be secure. In the thousands of lines of code they write, test, document, and code review... they make <span class="color-teal">one mistake...</span> and that's the one that ends up becoming famous.</p>
      </div>
    </div>
    <div class="blunder-right">
    </div>
  </div>
  <!--What Now-->
  <div class="what-now">
    <div class="what-now-left">
      <img src="/assets/laptop.png" class="laptop-img">
    </div>
    <div class="what-now-right">
      <div class="what-now-right-content">
        <h2 class="color-teal">What now?</h2>
        <p>The media frenzy blows over, and we're left with questions. How does this impact us? Should we keep using this library? How do we know that they learned their lesson? <span class="color-teal">How will we know that we haven't made a similar mistake?</span></p>
        <p>Is anyone taking a systematic look at the complex histories behind vulnerabilities? In VHP, that's what we do.</p>
        <p>We dive deeper. We combine state-of-the-art automated repository mining techniques with crowd-sourced curations to collect rich histories of vulnerabilities. We're not about blaming, we're about learning..</p>
      </div>
    </div>
    <div class="angler-container"></div>
  </div>
  <!--Benefites-->
  <div class="benefits">
    <div class="benefits-row">
      <div class="benefits-column">
        <img src="/assets/hands.png">
        <div class="benefits-content">
          <h3 class="color-teal">Data for researchers</h3>
          <p>Our database has clean, curated, preprocessed, tagged, and citeable histories of software vulnerabilities of prominent open source projects. </p>
        </div>
      </div>
      <div class="benefits-column">
        <img src="/assets/deep-thought.png">
        <div class="benefits-content">
          <h3 class="color-teal">Projects for students</h3>
          <p>Everyone learns better from real examples. Instead of contriving hypothetical scenarios, students can see how a vulnerability manifests itself in a project.</p>
        </div>
      </div>
      <div class="benefits-column">
        <img src="/assets/laughing.png">
        <div class="benefits-content">
          <h3 class="color-teal">Techniques for engineers</h3>
          <p>Learn from others, and learn from your own history. Using our visualizations and guides, VHP equips you to look for <span class="color-teal">systemic problems</span> in both your product and your process.</p>
        </div>
      </div>
    </div>
  </div>
  <!--API Tour-->
  <div class="api-tour">
    <div class="api-tour-content">
      <h2>VHP is 100% open source, with data available on our GitHub or our <a href="" class="color-teal">RESTful API.</a></h2>
      <button class="button primary">Take a Tour</button>
    </div>
  </div>
  <!--Story Emerges-->
  <div class="story">
    <div class="story-left">
      <div class="story-block">
        <h2 class="color-teal">A Story emerges</h2>
        <p>The vulnerability is the endpoint of a long journey. First we <span class="color-teal">trace the vulnerability</span> to its source code fix. Then we <span class="color-teal">mine the repository</span> to find the Vulnerability Contributing Commit (VCC). Then we automatically <span class="color-teal">construct a timeline</span>, then tag. A curator then comes along and corrects the data, telling the broader story of the vulnerability.</p>
        <p>With this methodology, what appears to be a "simple coding mistake" becomes a <span class="color-teal">unique narrative</span>. Reality is messy, tedious, and nuanced.</p>
        <p>Our philosophy is to always <span class="color-teal">provide more context</span> and let the story tell itself</p>
      </div>
    </div>
    <div class="story-right">
    </div>
  </div>
  <!--Learn-->
  <div class="learn">
    <div class="learn-blocks-wrapper">
      <div class="learn-block">
        <h2 class="color-teal">Everyone can learn</h2>
        <p>We want everyone to learn from vulnerability history, so we are building <span class="color-teal">activities</span>, <span class="color-teal">assignments</span>, and <span class="color-teal">projects</span> for educators and trainers to adopt. We target for varying levels of technical background, ranging from introductory programming experience to the seasoned software veteran.</p>
      </div>
      <div class="learn-block-photo">
        <img src="/assets/computer-center.png">
      </div>
      <div class="learn-block">
        <h2 class="color-teal">Evidence-based paradigm</h2>
        <p>Every field that has adopted an <span class="color-teal">evidence-based paradigm</span> has been revolutionized. From medicine to traditional engineering, having your decisions being driven by data advances the field. Software engineering is next.</p>
      </div>
      <div class="learn-block">
        <h2 class="color-teal">Mixed Methods</h2>
        <p>In academic parlance, we are combining <span class="color-teal">quantitative</span> and <span class="color-teal">qualitative</span> methods to collect data. When we can, we <span class="color-teal">automate</span>. But we also believe that not every observation can be automated and requires some <span class="color-teal">human judgment</span> as well.</p>
      </div>
    </div>
  </div>
  <!--Dive Deeper-->
  <div class="dive-deeper">
    <div class="dive-deeper-left">
      <div class="dive-deeper-content">
        <h2 class="color-teal">We dive deeper</h2>
        <p>This is not a dumping ground for CSVs. This is a well of data and analysis that can be revisited for decades to come.</p>
        <p>Projects such as the CVE and NVD aim to be comprehensive, but <span class="color-teal">remain surface level</span>. We can learn through detailed systematic taxonomies and lessons through projects like CWE and OWASP, but differentiating what is possible from what is probable is difficult. Automated scanners liked Snyk can help get you started in fixing your existing problems, but ignore the <span class="color-teal">socio-technical factors</span> behind the engineering process, leaving teams to continue to repeat their mistakes.</p>
        <p>We've noticed that very little is known or recorded about how a vulnerability came about and how it was missed. But, modern software engineering produce rich artifacts like <span class="color-teal">Git repositories</span>, <span class="color-teal">pull requests</span>, and <span class="color-teal">bug databases</span> that are ripe for mining.</p>
        <p>Indeed, entire academic communities are devoted to understanding and improving <span class="color-teal">engineering practice</span> through mining software repositories. We come from that community, but we also acknowledge that models and experiments are ephemeral. Data is forever.</p>
      </div>
    </div>
    <div class="dive-deeper-right"></div>
  </div>
  <!--Help Us Curate-->
  <div class="help-us">
    <div class="help-us-content">
      <div class="help-us-left">
        <div class="help-us-block">
          <p>All of science is a <span class="color-teal">work-in-progress</span>. For this project to work, we need volunteers to help collect, correct, and curate vulnerabilities. As you peruse the site, watch out for <span class="color-teal">unanswered questions</span> that you can contribute to.</p>
          <button class="button primary">Help Us Curate</button>
        </div>
      </div>
      <div class="help-us-right">
        <div class="help-us-angler">
        </div>
      </div>
    </div>
    <div class="background-overlay"></div>
    <div class="bottom-left"></div>
    <div class="volcano"></div>
    <div class="volcano-smoke"></div>
    <div class="volcano-small"></div>
  </div>

