<% content_for(:container_css) { "fluid" }%>
<div class="welcome grid-x">
  <div class="cell">
    <h1 class="centered-title">The Vulnerability History Project</h1>
  </div>
</div>

<div class="welcome grid-x">
  <div class="subtitle cell text-center">
    <p>A <b>museum</b> of <b>mistakes</b></p>
    <p>to help us engineer secure software.</p>
  </div>
</div>

<div class="hero-header">
  A museum of mistakes
</div>

<div class="grid-x">
  <div class="cell centered">
    <h2>Every blunder has a backstory</h2>
    <p>Lorem ipsum  Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
  </div>
</div>

<div class="grid-x centered">
  <div class="cell centered small-4">
    <h3>For students</h3>
    <p>Lorem ipsum  Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
  </div>
  <div class="cell centered small-4">
    <h3>For engineers</h3>
    <p>Lorem ipsum  Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
  </div>
  <div class="cell centered small-4">
    <h3>For researchers</h3>
    <p>Lorem ipsum  Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
  </div>
</div>

<div class="grid-x">
  <div class="cell centered">
    <h2>We dig deeper</h2>
    <p>How we are different than other projects. Lorem ipsum  Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
  </div>
</div>

<div class="grid-x">
  <div class="cell centered small-8">
    <h2>Context is king</h2>
    <p>Lorem ipsum  Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
  </div>
  <div class="cell small-4">
    <img src="https://via.placeholder.com/250x250">
  </div>
</div>