<% content_for(:container_css) { "welcome fluid no-padding " }%>


<div class="landing">
      <!--Ocean Card-->
      <div class="ocean-card">
        <img src="assets/angler-fish-5.png" alt="" class="icon">
        <h1>The Vulnerability History Project</h1>
        <p>A museum of mistakes to help us engineer secure software.</p>
        <button class="tour-btn">Take a Tour</button>
      </div>
      <!--Today's Card-->
      <div class="today">
        <p class="p-day">Today's Vulnerability is...</p>
        <h2>CVE-2020-13776</h2>
        <p class="nickname">aka Mr. 0Day</p>
      </div>
      <!--Suggested Vulnerabilities-->
      <div class="suggest">
        <h2>Suggested vulnerabilities</h2>
        <p>Heartbleed,Shellshock,Rowhammer</p>
      </div>
    </div>
    <!--Video-->
    <div class="vid">
      <iframe src="https://www.youtube.com/embed/M7o9_0mRAzE" title="The Vulnerability History Project: Revealing the Past to Build a Better Future for Software Security" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <!--Blunder-->
    <div class="blunder">
      <div class="blunder-left">
        <div class="blunder-left-content">
          <h3 class="color-teal">Every blunder has a backstory</h3>
          <p>You've seen it. Another vulnerability.</p>
          <p><span class="color-teal">Heartbleed. Shellshock. Rowhammer. Spectre. Meltdown. WannaCry. Log4Shell.</span> Always a terrifying name. Always an ocean of information to absorb in exactly zero days.</p>
          <p>Well-meaning engineers labor hard to make their software both function and be secure. In the thousands of lines of code they write, test, document, and code review... they make <span class="color-teal">one mistake...</span> and that's the one that ends up becoming famous.</p>
        </div>
      </div>
      <div class="blunder-right">
      </div>
    </div>
    <!--What Now-->
    <div class="what-now">
      <div class="what-now-left">
        <img src="/assets/laptop.png" class="laptop-img">
      </div>
      <div class="what-now-right">
        <div class="what-now-right-content">
          <h3 class="color-teal">What now?</h3>
          <p>The media frenzy blows over, and we're left with questions. How does this impact us? Should we keep using this library? How do we know that they learned their lesson? <span class="color-teal">How will we know that we haven't made a similar mistake?</span></p>
          <p>Is anyone taking a systematic look at the complex histories behind vulnerabilities? In VHP, that's what we do.</p>
          <p>We dive deeper. We combine state-of-the-art automated repository mining techniques with crowd-sourced curations to collect rich histories of vulnerabilities. We're not about blaming, we're about learning..</p>
        </div>
      </div>
      <div class="angler-container"></div>
    </div>
    <!--Benefites-->
    <div class="benefits">
      <div class="benefits-column">
        <img src="/assets/hands.png">
        <div class="benefits-content">
          <h4 class="color-teal">Data for researchers</h4>
          <p>Our database has clean, curated, preprocessed, tagged, and citeable histories of software vulnerabilities of prominent open source projects. </p>
        </div>
      </div>
      <div class="benefits-column">
        <img src="/assets/deep-thought.png">
        <div class="benefits-content">
          <h4 class="color-teal">Projects for students</h4>
          <p>Everyone learns better from real examples. Instead of contriving hypothetical scenarios, students can see how a vulnerability manifests itself in a project.</p>
        </div>
      </div>
      <div class="benefits-column">
        <img src="/assets/laughing.png">
        <div class="benefits-content">
          <h4 class="color-teal">Techniques for engineers</h4>
          <p>Learn from others, and learn from your own history. Using our visualizations and guides, VHP equips you to look for <span class="color-teal">systemic problems</span> in both your product and your process.</p>
        </div>
      </div>
    </div>

