<div class="welcome grid-x">
  <div class="cell">
    <h1 class="centered-title">The Vulnerability History Project</h1>
  </div>
</div>

<div class="welcome grid-x">
  <div class="subtitle cell text-center vhp-markdown">
A **museum** of **mistakes**

to help us engineer secure software.
  </div>

  <div><i class="vhp-icon-announce"></i>announce</div>
  <div><i class="vhp-icon-archway"></i>archway</div>
  <div><i class="vhp-icon-article"></i>article</div>
  <div><i class="vhp-icon-atom"></i>atom</div>
  <div><i class="vhp-icon-balance-scale"></i>balance-scale</div>
  <div><i class="vhp-icon-big"></i>big</div>
  <div><i class="vhp-icon-c"></i>c</div>
  <div><i class="vhp-icon-cpp"></i>cpp</div>
  <div><i class="vhp-icon-cards"></i>cards</div>
  <div><i class="vhp-icon-cloud"></i>cloud</div>
  <div><i class="vhp-icon-cogs"></i>cogs</div>
  <div><i class="vhp-icon-contest"></i>contest</div>
  <div><i class="vhp-icon-default"></i>default</div>
  <div><i class="vhp-icon-dependency"></i>dependency</div>
  <div><i class="vhp-icon-distrust-input"></i>distrust-input</div>
  <div><i class="vhp-icon-environment"></i>environment</div>
  <div><i class="vhp-icon-external"></i>external</div>
  <div><i class="vhp-icon-face"></i>face</div>
  <div><i class="vhp-icon-fix"></i>fix</div>
  <div><i class="vhp-icon-fix-file"></i>fix-file</div>
  <div><i class="vhp-icon-flag"></i>flag</div>
  <div><i class="vhp-icon-framework"></i>framework</div>
  <div><i class="vhp-icon-ghost"></i>ghost</div>
  <div><i class="vhp-icon-github"></i>github</div>
  <div><i class="vhp-icon-graph-pie"></i>graph-pie</div>
  <div><i class="vhp-icon-hand-pointer"></i>hand-pointer</div>
  <div><i class="vhp-icon-headline"></i>headline</div>
  <div><i class="vhp-icon-hourglass"></i>hourglass</div>
  <div><i class="vhp-icon-info"></i>info</div>
  <div><i class="vhp-icon-internal"></i>internal</div>
  <div><i class="vhp-icon-java"></i>java</div>
  <div><i class="vhp-icon-javascript"></i>javascript</div>
  <div><i class="vhp-icon-key"></i>key</div>
  <div><i class="vhp-icon-lemon"></i>lemon</div>
  <div><i class="vhp-icon-microchip"></i>microchip</div>
  <div><i class="vhp-icon-microscope"></i>microscope</div>
  <div><i class="vhp-icon-money"></i>money</div>
  <div><i class="vhp-icon-notes"></i>notes</div>
  <div><i class="vhp-icon-origin"></i>origin</div>
  <div><i class="vhp-icon-people"></i>people</div>
  <div><i class="vhp-icon-python"></i>python</div>
  <div><i class="vhp-icon-reset"></i>reset</div>
  <div><i class="vhp-icon-robot"></i>robot</div>
  <div><i class="vhp-icon-ruby"></i>ruby</div>
  <div><i class="vhp-icon-running"></i>running</div>
  <div><i class="vhp-icon-serial-killer"></i>serial-killer</div>
  <div><i class="vhp-icon-small"></i>small</div>
  <div><i class="vhp-icon-stamp"></i>stamp</div>
  <div><i class="vhp-icon-table"></i>table</div>
  <div><i class="vhp-icon-tag"></i>tag</div>
  <div><i class="vhp-icon-tags"></i>tags</div>
  <div><i class="vhp-icon-timeline"></i>timeline</div>
  <div><i class="vhp-icon-upvote"></i>upvote</div>
  <div><i class="vhp-icon-vcc"></i>vcc</div>
  <div><i class="vhp-icon-vulnerability"></i>vulnerability</div>
</div>

<div id="article-listing"></div>
<%= render 'shared/article_templates' %>

<%= javascript_packs_with_chunks_tag 'application', 'welcome', 'data-turbolinks-track': 'reload' %>
