<% content_for(:title) do %>
  News
<% end %>

<%content_for :head  do %>
  <%= stylesheet_link_tag('vhp-news') %>
<% end %>

<% content_for(:container_css) { "vhp-news fluid no-padding " }%>

<div class="title-section">
  <%= render('shared/title-2', css: 'vhp-news-top-section') do %>
    VHP News
  <% end %>
</div>

<div class="vhp-news-feed">
<% @items.each do |item| %>
  <div class="grid-x">
    <div class="cell medium-8 medium-offset-2 grid-y">
      <div class="cell writing vhp-markdown">

<%=item.posted_friendly %>
<%=item.description %>

---

      </div>
    </div>
  </div>
<% end %>
</div>

<div class="grid-x bottom-section">
  <div class="cell writing">
    <div class="vhp-markdown">
Have a VHP-related news item you want to share? Post a pull request on our [writing repository](https://github.com/VulnerabilityHistoryProject/vhp-writing).
    </div>

    <a href="https://github.com/VulnerabilityHistoryProject/vhp-writing" class="button primary">
      Go to Github
    </a>
  </div>
</div>
