<% content_for(:title) do %>
  News
<% end %>

<%= render('shared/title') do %>
  VHP News
<% end %>

<% @items.each do |item| %>
  <div class="grid-x">
    <div class="cell small-6 small-offset-3 grid-y">
      <div class="cell writing vhp-markdown">

<%=item.posted_friendly %>
<%=item.description %>

---

      </div>
    </div>
  </div>
<% end %>

<div class="grid-x">
  <div class="cell small-6 small-offset-3 grid-y">
    <div class="cell writing vhp-markdown">

Have a VHP-related news item you want to share? Post a pull request on our [writing repository](https://github.com/VulnerabilityHistoryProject/vhp-writing).

    </div>
  </div>
</div>
