<% content_for(:title) do %>
  Templates
<% end %>

<%content_for :head  do %>
  <%= stylesheet_link_tag('curationwizard') %>
  <%= stylesheet_link_tag('select2') %>
<% end %>

<%= render('shared/title') do %>
  Templates
<% end %>
<div class="off-canvas-wrapper">
    <div class="off-canvas-content" data-off-canvas-content>

        <form>

            <!-- Single Line Text Input -->
            <div>
                <label for="single-text">Single Line Text</label>
                <input id="single-text" type="text" aria-describedby="single-text-desc" placeholder="Single line text"/>
                <span id="single-text-desc" class="visually-hidden">Single line text description<span>
            </div>

            <!-- Number -->
            <div>
                <label for="number">Number</label>
                <input id="number" type="number" placeholder="number" aria-describedby="number-desc"/>
                <span id="number-desc" class="visually-hidden">Number description<span>
            </div>

            <!-- Multiline Text Input -->
            <div>
                <label for="multi-text">Multiline Text</label>
                <textarea 
                    id="multi-text" 
                    placeholder="Multiline text"
                    rows="5"
                    aria-describedby="multi-text-desc"
                >
                </textarea>
                <span id="multi-text-desc" class="visually-hidden">Single line text description<span>
            </div>

            <!-- Checkbox Single -->
            <div>
                <input id="checkbox-single" type="checkbox" aria-describedby="checkbox-single-desc">
                <label for="checkbox-single">Checkbox Single</label>
                <span id="checkbox-single-desc" class="visually-hidden">Single line text description<span>
            </div>

            <!-- Checkbox Multiple -->
            <fieldset>
                <legend>Checkbox Multiple</legend>
                <input id="checkbox1" type="checkbox" aria-describedby="checkbox1-desc">
                <label for="checkbox1">Checkbox 1</label>
                <span id="checkbox1-desc" class="visually-hidden">Single line text description</span>

                <input id="checkbox2" type="checkbox" aria-describedby="checkbox2-desc">
                <label for="checkbox2">Checkbox 2</label>
                <span id="checkbox2-desc" class="visually-hidden">Single line text description</span>

                <input id="checkbox3" type="checkbox" aria-describedby="checkbox3-desc">
                <label for="checkbox3">Checkbox 3</label>
                <span id="checkbox3-desc" class="visually-hidden">Single line text description</span>
            </fieldset>

            <!-- Select Single -->
            <div>
                <label for="select-single">Select Single</label>
                <select id="select-single" aria-describedby="select-single-desc">
                    <option>Select One</option>
                </select>
                <span id="select-single-desc" class="visually-hidden">Single line text description<span>
            </div>

            <!-- Select Multiple -->
            <div>
                <label for="select-multiple">Select Multiple</label>
                <select id="select-multiple" aria-describedby="select-multiple-desc" multiple>
                    <option>Select One</option>
                </select>
                <span id="select-multiple-desc" class="visually-hidden">Single line text description<span>
            </div>

            <!-- Date -->
            <div>
                <label for="date">Date</label>
                <input id="date" type="date" aria-describedby="date-desc">
                <span id="date-desc" class="visually-hidden">Single line text description<span>
            </div>

            <div class="button-group align-center">

                <!-- Submit active -->
                <input type="submit" aria-label="Submit" class="button">

                <!-- Submit disabled -->
                <input type="submit" aria-label="Submit disabled" class="button" disabled>

            </div>

        </form>

        <div class="button-group align-center">

            <!-- Previous active -->
            <button aria-label="Previous" class="button primary">Previous</button>

            <!-- Previous disabled -->
            <button aria-label="Previous disabled" class="button primary" disabled>Previous</button>

            &nbsp;&nbsp;

            <!-- Next active -->
            <button aria-label="Next" type="button" class="button primary">Next</button>

            <!-- Next disabled -->
            <button aria-label="Next disabled" type="button" class="button primary" disabled>Next</button>

        </div>


        <button type="button" class="button" data-toggle="offCanvas">Open Menu</button>
    </div>

    <!-- Off Canvas CopyPasta -->
    <div class="off-canvas position-right" id="offCanvas" data-off-canvas>
        <h3>Your YAML</h3>
        <textarea name="text" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' id="YAMLOutput">Your In Progress YAML FILE HERE</textarea>
        <button type="button" class="button" id="CopyYAML">Copy To Clipboard</button>
    </div>
</div>