<% content_for(:title) do %>
  Templates
<% end %>

<%content_for :head  do %>
  <%= stylesheet_link_tag('curationwizard') %>
  <%= stylesheet_link_tag('select2') %>
<% end %>

<%= render('shared/title') do %>
  Templates
<% end %>
<div class="off-canvas-wrapper">
    <div class="off-canvas-content" data-off-canvas-content>

        <form>

            <!-- Single Line Text Input -->
            <div>
                <label for="single-text">Single Line Text</label>
                <input id="single-text" type="text" placeholder="Single line text"/>
            </div>

            <!-- Number -->
            <div>
                <label for="number">Number</label>
                <input id="number" type="number" placeholder="number"/>
            </div>

            <!-- Multiline Text Input -->
            <div>
                <label for="multi-text">Multiline Text</label>
                <textarea 
                    id="multi-text" 
                    placeholder="Multiline text"
                    rows="5"
                >
                </textarea>
            </div>

            <!-- Checkbox Single -->
            <div>
                <input id="checkbox-single" type="checkbox">
                <label for="checkbox-single">Checkbox Single</label>
            </div>

            <!-- Checkbox Multiple -->
            <fieldset>
                <legend>Checkbox Multiple</legend>
                <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
                <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
                <input id="checkbox3" type="checkbox"><label for="checkbox3">Checkbox 3</label>
            </fieldset>

            <!-- Select Single -->
            <div>
                <label for="select-single">Select Single</label>
                <select id="select-single">
                    <option>Select One</option>
                </select>
            </div>

            <!-- Select Multiple -->
            <div>
                <label for="select-multiple">Select Multiple</label>
                <select id="select-multiple" multiple>
                    <option>Select One</option>
                </select>
            </div>

            <!-- Date -->
            <div>
                <label for="date">Date</label>
                <input id="date" type="date">
            </div>

            <div class="button-group align-center">

                <!-- Submit active -->
                <input type="submit" class="button">

                <!-- Submit disabled -->
                <input type="submit" class="button" disabled>

            </div>

        </form>

        <div class="button-group align-center">

            <!-- Previous active -->
            <button class="button primary">Previous</button>

            <!-- Previous disabled -->
            <button class="button primary" disabled>Previous</button>

            &nbsp;&nbsp;

            <!-- Next active -->
            <button type="button" class="button primary">Next</button>

            <!-- Next disabled -->
            <button type="button" class="button primary" disabled>Next</button>

        </div>


        <button type="button" class="button" data-toggle="offCanvas">Open Menu</button>
    </div>

    <!-- Off Canvas CopyPasta -->
    <div class="off-canvas position-right" id="offCanvas" data-off-canvas>
        <h3>Your YAML</h3>
        <textarea name="text" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' id="YAMLOutput">Your In Progress YAML FILE HERE</textarea>
        <button type="button" class="button" id="CopyYAML">Copy To Clipboard</button>
    </div>
</div>