<div class="row">
  <h1>Case Study Projects</h1>

  <p>TODO: make this better.</p>

  <% Project.all.each do |p| %>
    <div class="project-logo">
      <a href="/tags/project-<%= p.subdomain %>">
        <span style= "height:2em; width:2em;"
              class="<%= p.subdomain %>-inline-logo"></span>
      </a>
    </div>
    <div id="project-details"
         class="project-details"
         style="background-color:<%=p.bg_color %>">
      <span> <%= p.name %></span>
    </div>
  <% end %>
</div>
