<div id="vuln_cards" class="grid-x large-up-7 medium-up-5 small-up-2">
  <!-- To be populated in vulnCards.js -->
  <a id="vuln_card_template" class="vuln_card cell">
    <div class="title-space"></div>
    <div class="date-upvote-bar">
      <div class="date" title="<!-- filled in-->"></div>
      <div class="upvotes">
        <span class="upvote-number"></span>
        <i title="" class=""></i> <!-- Thumbs-up icon -->
      </div>
    </div>
    <div class="cwe"></div>
    <div class="icon_box">
      <div class="icons"></div>
    </div>
  </a>
</div>
