<%= form_for(vulnerability) do |f| %>
  <% if vulnerability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vulnerability.errors.count, "error") %> prohibited this vulnerability from being saved:</h2>

      <ul>
      <% vulnerability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
