<%= render('shared/grid', size: 10) do %>

<div id="vuln_cards">

  <!-- To be populated in vulnCards.js -->
  <a class="vuln_card" id="vuln_card_template">
    <div class="title-space">
    </div>

    <div class="date-upvote-bar">
      <div class="date" title="<!-- filled in-->"></div>

      <div class="upvotes">
        <span class="upvote-number"></span>
        <i title="" class="vhp-icon-upvote"></i>
      </div>
    </div>

    <div class="cwe"></div>

    <div class="icons"></div>

    <div class="article-space"></div>
  </a>
</div>

<% end %>
