<%= render('shared/grid', size: 12) do %>
  <table id="datatable" class="display" width="100%">
    <thead></thead>
    <tbody></tbody>
    <tfoot></tfoot>
  </table>
<% end %>

<script type="text/javascript">
  var initVulnData = <%= Oj.dump(@vulnerabilities, mode: :rails).html_safe %>;
  var tagMap = <%= Oj.dump(@tagMap, mode: :rails).html_safe %>
</script>
