<p id="notice"><%= notice %></p>

<h1>Vulnerabilities </h1>

<table id="example" class="display" width="100%">
  <thead></thead>
  <tbody></tbody>
  <tfoot></tfoot>
</table>
<table>
  <thead>
    <tr>
      <th colspan="3" ></th>
    </tr>
  </thead>

  <tbody>

    <% @vulnerabilities.each do |vulnerability| %>
      <tr>
        <td><%= link_to "#{vulnerability.title}", vulnerability %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= javascript_include_tag "vulnerabilities/index" %>
