<p id="notice"><%= notice %></p>

<h1>Vulnerabilities </h1>

<table>
  <thead>
    <tr>
      <th colspan="3" ></th>
    </tr>
  </thead>

  <tbody>
    <% @vulnerabilities.each do |vulnerability| %>
      <tr>
        <td><%= link_to "#{vulnerability.title}", vulnerability %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
