<meta charset="UTF-8">

<%= stylesheet_link_tag 'reset' %> <!-- CSS reset -->
<%= stylesheet_link_tag 'timeline/timeline-styles' %> <!-- Resource style -->

<p id="notice"><%= notice %></p>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <!-- <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script> -->

</head>

<body>

<header>
  <section id="horizontal-timeline">

  </section>

</header>


<section id="cd-timeline" class="cd-container">

  <div style="display:none" id="hiddenArea">

    <div class="cd-timeline-img cd-default">
      <img src='<%= image_path('timeline/cd-icon-default.svg') %>' alt="Shield image">
    </div> <!-- cd-timeline-img -->
    <div class="cd-timeline-content">
      <h2><a name="$NAME$">$TITLE$</a></h2>
      <p>$DESCRIPTION$</p>
      <a href="#" class="cd-read-more">Read more</a>
      <span class="cd-date">$TIMESTAMP$</span>
    </div>

  </div>

</section>

<script type="text/javascript">
  generateSVG()

</script>

</body>