<%= render 'shared/loading' %>

<table id="datatable" class="display" width="100%">
  <thead></thead>
  <tbody></tbody>
  <tfoot></tfoot>
</table>

<script>
  window.addEventListener("load", ()=>{
    let pagination;
    let paginationButtons;
    let showingColumn;
    let paginationButtonsColumn;
    function hideButtons() {
      paginationButtons[3].style.display = "none";
      paginationButtons[4].style.display = "none";
      paginationButtons[5].style.display = "none";
    }
    function showButtons() {
      paginationButtons[3].style.display = "inline-block";
      paginationButtons[4].style.display = "inline-block";
      paginationButtons[5].style.display = "inline-block";
    }
    function hideShowingColumn() {
      pagination.style.textAlign="center";
      showingColumn.style.display = "none";
      paginationButtonsColumn.style.width = "100%";
    }
    function showShowingColumn() {
      pagination.style.textAlign="end";
      showingColumn.style.display = "block";
      paginationButtonsColumn.style.width = "50%";
    }
    function mediaWidthWatch(x) {
      setTimeout(()=>{
        pagination = document.querySelector(".pagination");
        paginationButtons = document.querySelectorAll(".paginate_button");
        showingColumn = document.querySelector(".row.grid-x:last-of-type > .small-6.columns.cell:first-of-type");
        paginationButtonsColumn = document.querySelector(".row.grid-x:last-of-type > .columns.cell:last-of-type");
        if (x.matches) {
          hideShowingColumn();
          if (paginationButtons.length >= 9) {
            hideButtons();
          }
        }
        else {
          showShowingColumn();
          showButtons();
        }
      },500)
    }
    const maxMediaWidth = window.matchMedia("(max-width: 640px)");
    mediaWidthWatch(maxMediaWidth);
    maxMediaWidth.addListener(mediaWidthWatch)
  })
</script>