<%= render 'shared/loading' =%>

<%= render('shared/grid', size: 10) do %>
  <table id="datatable" class="display" width="100%">
    <thead></thead>
    <tbody></tbody>
    <tfoot></tfoot>
  </table>
<% end %>
