<p id="notice"><%= notice %></p>

<h1>Tags </h1>

<%= render 'shared/loading' =%> 

<table id="datatable" class="display" width="100%">
  <thead></thead>
  <tbody></tbody>
  <tfoot></tfoot>
</table>

<%= javascript_include_tag "tags/index" %>
