<%= render('shared/grid', size: 6) do %>
  <h2 class="text-center">Key Contributors</h2>
  <%= render 'shared/loading' =%>

  <div id="dev-pie">
    <div id="dev-pie-chart"></div>
    <div id="dev-pie-toggle">
      <span>
        <input type="radio" id="num_commits" name="edit-count" value="num_commits" checked>
        <label for="num_commits">By Commits</label>

        <input type="radio" id="total_churn" name="edit-count" value="total_churn">
        <label for="total_churn">By Lines Edited</label>

        <input type="radio" id="insertions" name="edit-count" value="insertions">
        <label for="insertions">By Insertions</label>

        <input type="radio" id="deletions" name="edit-count" value="deletions">
        <label for="deletions">By Deletions</label>
      </span>
    </div>
  </div>
<% end %>

<div class="grid-x">
  <div class="cell medium-6 medium-offset-3">
    This is the contribution breakdown for <b>key commits</b>. A key 
    commit can be a fix, a vulnerability-contributing commit, or a commit marked 
    "interesting" by a curator. You can see the individual commit data on the 
    Commits tab.  
  </div>
</div>
