<%= render('shared/grid', size: 10) do %>

  <h2 class="text-center">Associated Vulnerabilities</h2>

  Not yet implemented.

  <table id="datatable" class="display" width="100%">
    <thead></thead>
    <tbody></tbody>
    <tfoot></tfoot>
  </table>

  <%= javascript_include_tag "filepaths/show" %>

<% end %>
