<%= render('shared/grid', size: 12) do %>

  <h2 class="text-center">Vulnerabilities Fixed</h2>
  <%= render 'shared/loading' %>

  <table id="vulndatatable" class="display" width="100%"></table>

<% end %>
