<%= render('shared/grid', size: 12) do %>

  <h2 class="text-center">Associated Vulnerabilities</h2>

  <table id="vulndatatable" class="display" width="100%">
    <thead></thead>
    <tbody></tbody>
    <tfoot></tfoot>
  </table>

<% end %>
