<div id="offenders_visual">
  <div id="offenders_map" >
  <div id="loading_map" class="loading-full" ><%= image_pack_tag 'offender-map-loading.svg' %></div>
  <svg id="offender-map-svg" viewBox="0 0 700 700" preserveAspectRatio="xMidYMid meet"></svg>
  </div>  
  <p id="offenders_map_desc">
    The map's outermost rings represent the end of each filepath.  The center of the map represents the filepaths' root.
  </p>
</div>
