<div id="offenders_visual">
  <div id="offenders_map" ></div>
  <div id="loading_map" class="loading" ><%=image_tag("loading.gif")%></div>
  <p id="offenders_map_desc">
    The map's outermost rings represent the end of each filepath.  The center of the map represents the filepaths' root.
  </p>
  <p id="offenders_instructions">
    Click on a segment to zoom in. Click on the center to zoom out. Click on the path to learn more about the file.
  </p>
</div>
