
<%= render('shared/grid', size: 10) do %>

  <div id="offenders_visual">
    <div class="offenders_path_header">
      <span id="offenders_path">&nbsp;</span>
      <span id="offenders_path_link"></span>
    </div>

      <div id="offenders_left_nav" width="25%" float="left">
        <p>
          Click on a segment to zoom in. Click on the center to zoom out. Click on the path to learn more about the file.
        </p>

        <div id="offenders_dropdown">
          <select class="project-choice">
            <option value="0">All Projects</option>
            <!-- JS will append the others -->
          </select>
        </div>
      </div>
      <div id="loading_map" class="loading" width="75%" float="right">
        <%=image_tag("loading.gif")%>
      </div>
      <div id="offenders_map" width="75%" float="right"></div>

  </div>

<% end %>
