
<%= render('shared/grid', size: 10) do %>

  <div id="offenders_visual">
    <div id="loading_map" class="loading">
      <%=image_tag("loading.gif")%>
    </div>
    <div class="offenders_path_header">
      <span id="offenders_path">&nbsp;</span>
      <span id="offenders_path_link"></span>
    </div>
    <div id="offenders_map"></div>
    <p>
      Click on the visual to zoom in. Click on the path to learn more about the file.
    </p>
  </div>

<% end %>
