<div id="offenders_visual">
  <div id="offenders_map" >
  <div id="loading_map" class="loading-full" ><%= image_tag('offender-map-loading.svg') %></div>
  <div id="loading_map_failed" class="loading-full" hidden>
    <%=image_tag("load-fail.svg")%>
    <div class="alert-error" id="load-alert" style="display:block">We're sorry, we had trouble loading the data...</div>
  </div>
  <svg id="offender-map-svg" viewBox="0 0 720 720" preserveAspectRatio="xMidYMid meet"></svg>
  </div>
  <button type="button" id="expandFilePath" style="display: none; border: 2px solid;"> Expand File Path </button>
  <p id="offenders_map_desc">
    The map's outermost rings represent the end of each filepath.  The center of the map represents the filepaths' root.
  </p>
</div>
