<% if @articleFilepaths.length() != 0 %>
   <% @articleFilepaths.each do |article| %>
      <div class="vhp-articles blurb grid-x grid-margin-x grid-margin-y align-center">
        <div class="cell medium-3">
          <div class="vhp-art-<%= article.art %>" /></div>
        </div>
        <div class="cell medium-8 vhp-markdown">
### <%= article.title %>
<%= article.blurb %>
<a href="../articles/<%= article.id %>">Full Article</a>
        </div>
      </div>
   <% end %>
 <% else %>
   <h3>There are no articles here. Go to <a href="/articles">Articles</a></h3>
 <% end %>
