<% render('shared/grid', size: 8) do %>
<p>Use this table to peruse the data pertaining that have had vulnerability fixes before. Note that a file can also have multiple fix commits for a single vulnerability.</p>

<p>As you can see, some files are "repeat offenders" as well, having tons of vulnerabilities in their history. Some of these may not be suprising - for example, dependency configuration files. File path names can give you an informal search of the different subsystems and features that are affected by vulnerabilities. </p>
<% end %>

<% render('shared/grid', size: 8) do %>
  <div class="float-left case-study-paragraph-logo">
    <%= image_tag @project.logo %>
  </div>
  Try typing in "clipboard", "gpu", or "android".
<% end %>

<%= render 'shared/loading' =%>

<table id="datatable" class="display" width="100%">
  <thead></thead>
  <tbody></tbody>
  <tfoot></tfoot>
</table>

<%= javascript_include_tag "filepaths/offender_table" %>
