
<%= render('shared/grid', size: 10) do %>

  <div id="offenders_visual">
      <div id="offenders_left_nav">
        <p id="offenders_map_desc">
          The map's outermost rings represent the end of each filepath.  The center of the map represents the filepaths' root.
        </p>
        <p id="offenders_instructions">
          Click on a segment to zoom in. Click on the center to zoom out. Click on the path to learn more about the file.
        </p>

        <div id="offenders_dropdown">
          <select class="project-choice">
            <option value="0">All Projects</option>
            <!-- JS will append the others -->
          </select>
        </div>

        <div class="offenders_path_header">
          <span id="offenders_path">&nbsp;</span>
          <span id="offenders_path_link"></span>
        </div>
      </div>
      <div id="loading_map" class="loading" >
        <%=image_tag("loading.gif")%>
      </div>
      <div id="offenders_map" ></div>

  </div>

<% end %>
