<p id="notice"><%= notice %></p>

<%= render('shared/title') do %>
  Source Code
<% end %>

<%= render 'shared/loading' =%>

<table id="datatable" class="display" width="100%">
  <thead></thead>
  <tbody></tbody>
  <tfoot></tfoot>
</table>

<%= javascript_include_tag "filepaths/index" %>
