<%= form_for(source_file) do |f| %>
  <% if source_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(source_file.errors.count, "error") %> prohibited this source_file from being saved:</h2>

      <ul>
      <% source_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
