<%= render('shared/grid', size: 8) do %>

  <h2>About Our Curators</h2>

  <p>Most of our curators are undergraduate software engineering students at Rochester Institute of Technology. Students are required to complete a vulnerability history study, and are allowed to volunteer their submissions to this project.</p>

<% end %>


<%= render('shared/grid', size: 8) do %>
  <h2>How to Curate</h2>

  <p>To be written.</p>

<% end %>
