<% content_for(:title) do %>
  RESTful API
<% end %>

<div class="grid-x align-center centered-headers">
  <div class="cell small-4 ">
    <h2>RESTful API</h2>
  </div>
</div>


<div class="grid-x align-center centered-headers">
  <div class="cell small-4">
    Our API documentation is currently under construction. For now, you can view our APIs from the following endpoints:

    <%endpoints = %w(
      /api/vulnerabilities
      /api/vulnerabilities/1/
      /api/vulnerabilities/1/events
      /api/commits
      /api/commits/1/developer
      /api/developers
      /api/filepaths
      /api/filepaths/1
      /api/tags/
      /api/tags/1
      /api/articles
      /api/articles/1
      /api/corpus
    ) %>

    <ul>
      <% endpoints.each do |str| %>
          <li><pre> <%=str%></pre></li>
      <% end %>
    </ul>

  </div>
</div>