<% content_for(:container_css) { "fluid no-padding" }%>
<% content_for(:title) do %>
  RESTful API
<% end %>

<% flash.each do |key, value| %>
    <div class="alert-<%= key %>"><%= value %></div>
<% end %>

<div class="grid-x align-center centered-headers">
  <div class="cell md-12">
    <redoc spec-url='/openapi.yml'></redoc>
    <script src="https://cdn.redoc.ly/redoc/latest/bundles/redoc.standalone.js"> </script>
  </div>
</div>