<% content_for(:title) do %>
  About Us
<% end %>

<div class="grid-x grid-margin-x grid-margin-y">
  <div class="cell medium-6 medium-offset-3 centered-headers">

    <h2>What Is This?</h2>
    <p>This is a non-profit, open source project devoted to educating the world
      about secure software engineering by understanding our history.</p>
    <ul>
      <li>For students, it's a set of assignments and teaching materials</li>
      <li>For professionals, it's a museum from which we can learn</li>
      <li>For academics, it's a curated data set and an engine for generating
        new hypotheses and insights.</li>
    </ul>

    <h2>Contact</h2>
    <p>The main contact for this project is <a
        href="https://www.se.rit.edu/~andy">Andy Meneely</a>, who is an
      Associate Professor of Software Engineering at Rochester Institute of
      Technology.</p>

    <h2 id="licensing">Licensing</h2>
    <p>Most of the stock photography in this site is from
      <a href="https://unsplash.com/license">Unsplash</a>, or
      original photography by our authors. RIT photo from their
      <a href="https://www.rit.edu/marketing/brandportal/toolkits/photography">stock
        photography branding portal</a>.
    </p>
    <p>Our mascot, named Vippy, got his icon based off of the
      <a href="https://game-icons.net/1x1/lorc/angler-fish.html">angler fish
        on GameIcons</a>, by <a href="http://lorcblog.blogspot.com/">Lorc</a>.
    </p>

    <p>All writing from our curators was provided voluntarily. Much of our
      writing comes from class assignments, although contributing your writing
      to this project does not influence student grades. The writing and
      software are under the <a
        href="https://github.com/VulnerabilityHistoryProject/vulnerability-history/blob/master/LICENSE.md">
        MIT License</a>.
    </p>

    <h2>Funding</h2>
    <p>This material is based upon work supported by
      DoD DARPA. This material is also based upon work supported by the
      National Science Foundation under Grant No. 1433736 as part of the <a
        href="https://cybercorps.rit.edu/">Cybercorps Scholarship for
        Service program</a>.
      Any opinions, findings and conclusions, or recommendations expressed
      in this material are those of the author(s), and do not necessarily
      reflect those of the NSF or DARPA.
    </p>

    <h2 id="cite">How to Cite</h2>
    <p> All of our data sets are on <a href="https://zenodo.org/">Zenodo</a>.
      Every new release of a data set will result in a tag on our git repository and will generate a new DOI on Zenodo. </p>

    <p><a href="https://doi.org/10.5281/zenodo.7558231">This is the latest DOI for VHP data.</a>

  </div>
</div>
