<%= render('shared/title') do %>
  Vulnerabilities
<% end %>

<%= render('shared/grid', size: 8) do %>
  <p>
    Write some stuff about who we are.
  </p>
<% end %>

<%= javascript_pack_tag 'welcome' %>
