<% content_for(:title) do %>
    Version
  <% end %>

  <div class="grid-x grid-margin-x grid-margin-y">
    <div class="cell medium-6 medium-offset-3 centered-headers">
      <h2>Version Information</h2>
      <p>This is intended for debugging purposes.</p>
<pre>
<%=@versions.join("\n") %>
</pre>

      </ul>
    </div>
  </div>
