<% content_for(:title) do %>
    Version
  <% end %>
  
  <div class="grid-x grid-margin-x grid-margin-y">
    <div class="cell medium-6 medium-offset-3 centered-headers">
      <h2> Version Information </h2> 
      <p><center> <%=@version%> </center></p>
    
    </div>
  </div>
  