<% content_for(:title) do %>
  Insights
<% end %>

<%content_for :head  do %>
  <%= stylesheet_link_tag('insights') %>
<% end %>

<% content_for(:container_css) { "fluid no-padding " }%>

<div class="title-section">
  <%= render('shared/title-2', css: 'vhp-insights-top-section') do %>
    Insights
  <% end %>
</div>

<div class="grid-x">
		<div class="cell medium-4 medium-offset-2">
			<h2>Tag Trends</h2>
			<p>How can we cluster vulnerabilities? Tags are what we use to find commonalities between vulnerabilities. Discover how these tags can overlap each other with this interactive Sankey diagram.</p>
			<%=
				link_to('/insights/tag-trends') do
					image_tag('insights-sunken.jpg', class:'insights-thumbnail')
				end
			%>
		</div>
	<div class="cell medium-4">
		<h2>Known Offenders</h2>
			<p>
				What code tends to have repeated vulnerabilities? Explore vulnerabilities through the source code files they were found in.
			</p>
			<%=
				link_to('/insights/offenders') do
					image_tag('insights-sunken.jpg', class:'insights-thumbnail')
				end
			%>
	</div>
</div>

<div class="bottom-section">
  <div class="cell writing">
	<p>
  		Want to suggest another visualization?
	</p>

	<p> <a href="https://github.com/VulnerabilityHistoryProject/vhp-writing" class="button primary">
      Go to our Github
    </a>
	</p>
  </div>
</div>




