<% content_for(:title) do %>
  Tag Trends
<% end %>

<%content_for :head  do %>
  <%= stylesheet_link_tag('insights-tag-trends') %>
<% end %>

<%= render('shared/title') do %>
  Tag Trends
<% end %>

<%= render('shared/grid', size: 12) do %>

<div id="sideBar" style="height: 100%;
                        width: 0px;
                        position: fixed;
                        z-index: 1;
                        top: 0;
                        right: 0;
                        background-color: #111;
                        color: #fff;
                        overflow-x: hidden;
                        transition: 0.4s;
                        padding-top: 8em">

  <div style="padding: 1em;">
    <p>Select a different tag category in each of the four dropdowns. Order matters. Or, try some of our presets!</p>
    <p>If you click on a node in the diagram, a table is populated below that contains all of the vulnerabilities that tagged by your selected tags.</p>
    <p>Hover over an edge between nodes to see the number of vulnerabilities that have both tags.</p>
    <p>Control clicking on a tag node will take you to that tag's webpage.</p>
    <p><b>What's the purpose?</b> Explore! Find connections and overlaps between vulnerabilities that share tags in common.</p>
    <p><b>What type of diagram is this?</b> This is a <a href="https://en.wikipedia.org/wiki/Sankey_diagram">Sankey diagram</a> that depicts <b>parallel sets</b>.
    <button id="closeSideBar" class="button primary">Close Tab</button>
  </div>

</div>

<div class="grid-x">
  <div class="cell medium-10">
    <ul class="vertical menu accordian-menu" data-accordian-menu>
      <li><a class="button primary accordian-header" href="#">Presets</a>
        <ul class="menu vertical nested">
          <li> <a class="tag-trends-presets" href="?option=project&option=lifetime&option=language&option=bounty">Project > Lifetime > Language > Bounty</a> </li>
          <li> <a class="tag-trends-presets" href="?option=discovered_method&option=bounty&option=language&option=security_by_obscurity">Discovered Method > Bounty > Language > Security by Obscurity</a> </li>
          <li> <a class="tag-trends-presets" href="?option=language&option=environment_variables&option=least_privilege&option=discovered_method">Language > Environment Variables > Least Privilege > Discovered Method</a> </li>
          <li> <a class="tag-trends-presets" href="?option=complex_inputs&option=forgotten_check&option=fix_size&option=order_of_operations">Complex Inputs > Forgotten Check Mistake > Fix Size > Order of Operations Mistake</a> </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="cell medium-2 ">
    <a id="openSideBar" class="button secondary">How To Use</a>
  </div>
</div>

<div style="text-align: center;">
  <div id="familyContainer" style="text-align: center;">

    <select class="edit" style="left: 40px; top: 290px; width: 210px; cursor: pointer;" id="family1"></select>
    <select class="edit" style="left: 40px; top: 290px; width: 210px; cursor: pointer;" id="family2"></select>
    <select class="edit" style="left: 40px; top: 290px; width: 210px; cursor: pointer;" id="family3"></select>
    <select class="edit" style="left: 40px; top: 290px; width: 210px; cursor: pointer;" id="family4"></select>

  </div>

  <span id="familyWarning" style = "font-size:20px; display:none; color:red;"></span>

  <button type="button" id="revialButtons" style="background-color: #eee; color: #444; paddinng: 20px; height: 30px; border: none; outline: none; font-size: 22px; display: none; margin:0 auto; border: 2px solid grey; cursor: pointer;">Swap Columns</button>

  <div id="buttonsContainer" style="padding: 0 18px; max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out; background-color: #f1f1f1;">
    <button id="swapFirst" style="left: 40px; top: 290px; width: 355px; cursor: pointer; border: 2px solid grey;">Swap First Two Columns<button>
    <button id="swapSecond" style="left: 40px; top: 290px; width: 355px; cursor: pointer; border: 2px solid grey;">Swap Middle Two Columns<button>
    <button id="swapThird" style="left: 40px; top: 290px; width: 355px; cursor: pointer; border: 2px solid grey;">Swap Last Two Columns<button>
  </div>

</div>

<label id="diagramDescription" for="tag-trends" style="font-size:20px; display:none; text-align: center;"></label>

<div id="tag-trends" style="padding-left: 130px"></div>



<button type="button" id="revialExcludedVuls" style="background-color: #eee; color: #444; paddinng: 20px;  height: 30px; border: none; text-align: left; outline: none; font-size: 22px; display: none; margin:0 auto; border: 2px solid grey; cursor: pointer;">Excluded Vulnerabilities</button>

<div id="excludedVulsContainer" style="padding: 0 18px; max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out; background-color: #f1f1f1; text-align: center;">
  excluded results
</div>


<label id="vulnTableDescription" for="vulndatatable" style="font-size:20px; display:none; text-align: center;" >Vulnerabilities on Selected Path</label>

<table id="vulndatatable" class="display" width="100%"></table>

<% end %>

<script type="text/javascript">
  var tagMap = <%= Oj.dump(@tagMap, mode: :rails).html_safe %>;
</script>