<% content_for(:title) do %>
  Tag Trends
<% end %>

<%= render('shared/title') do %>
  Tag Trends
<% end %>

<%= render('shared/grid', size: 8) do %>	
<br>
<p>Select a distict family in each of the four family dropdowns to populate a Sankey Diagram with the tags in those families.</p>
<div id="labelContainer">
	<span style = "font-size:20px; left: 40px; top: 290px; width: 205px;">Family 1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<span style = "font-size:20px; left: 40px; top: 290px; width: 205px;">Family 2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<span style = "font-size:20px; left: 40px; top: 290px; width: 205px;">Family 3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<span style = "font-size:20px; left: 40px; top: 290px; width: 205px;">Family 4 </span>
<div>

<div id="container">
    <select class="edit" style="left: 40px; top: 290px; width: 205px;" id="family1">
	    <option data=" ">-- Select a Family --</option>
		<option data="lifetime">lifetime</option>
		<option data="bounty">bounty</option>
		<option data="deps">deps</option>
		<option data="error of omission">error of omission</option>
		<option data="li18n">i18n</option>
		<option data="environment_variables">environment_variables</option>
		<option data="least_privilege">least_privilege</option>
		<option data="origin">origin</option>
		<option data="specification">specification</option>
		<option data="complex_inputs">complex_inputs</option>
		<option data="frameworks_are_optional">frameworks_are_optional</option>
		<option data="secure_by_default">secure_by_default</option>
		<option data="language">language</option>
		<option data="security_by_obscurity">security_by_obscurity</option>
		<option data="vouch">vouch</option>
		<option data="serial_killer">serial_killer</option>
		<option data="discovered_method">discovered_method</option>
		<option data="native_wrappers">native_wrappers</option>
		<option data="sandbox">sandbox</option>
		<option data="yagni">yagni</option>
		<option data="project">project</option>
		<option data="user_interaction">user_interaction</option>
	</select>
    <select class="edit" style="left: 40px; top: 290px; width: 205px;" id="family2">
	    <option data=" ">-- Select a Family --</option>
		<option data="lifetime">lifetime</option>
		<option data="bounty">bounty</option>
		<option data="deps">deps</option>
		<option data="error of omission">error of omission</option>
		<option data="li18n">i18n</option>
		<option data="environment_variables">environment_variables</option>
		<option data="least_privilege">least_privilege</option>
		<option data="origin">origin</option>
		<option data="specification">specification</option>
		<option data="complex_inputs">complex_inputs</option>
		<option data="frameworks_are_optional">frameworks_are_optional</option>
		<option data="secure_by_default">secure_by_default</option>
		<option data="language">language</option>
		<option data="security_by_obscurity">security_by_obscurity</option>
		<option data="vouch">vouch</option>
		<option data="serial_killer">serial_killer</option>
		<option data="discovered_method">discovered_method</option>
		<option data="native_wrappers">native_wrappers</option>
		<option data="sandbox">sandbox</option>
		<option data="yagni">yagni</option>
		<option data="project">project</option>
		<option data="user_interaction">user_interaction</option>
	</select>
	<select class="edit" style="left: 40px; top: 290px; width: 205px;" id="family3">
	    <option data=" ">-- Select a Family --</option>
		<option data="lifetime">lifetime</option>
		<option data="bounty">bounty</option>
		<option data="deps">deps</option>
		<option data="error of omission">error of omission</option>
		<option data="li18n">i18n</option>
		<option data="environment_variables">environment_variables</option>
		<option data="least_privilege">least_privilege</option>
		<option data="origin">origin</option>
		<option data="specification">specification</option>
		<option data="complex_inputs">complex_inputs</option>
		<option data="frameworks_are_optional">frameworks_are_optional</option>
		<option data="secure_by_default">secure_by_default</option>
		<option data="language">language</option>
		<option data="security_by_obscurity">security_by_obscurity</option>
		<option data="vouch">vouch</option>
		<option data="serial_killer">serial_killer</option>
		<option data="discovered_method">discovered_method</option>
		<option data="native_wrappers">native_wrappers</option>
		<option data="sandbox">sandbox</option>
		<option data="yagni">yagni</option>
		<option data="project">project</option>
		<option data="user_interaction">user_interaction</option>
	</select>
	<select class="edit" style="left: 40px; top: 290px; width: 205px;" id="family4">
	    <option data=" ">-- Select a Family --</option>
		<option data="lifetime">lifetime</option>
		<option data="bounty">bounty</option>
		<option data="deps">deps</option>
		<option data="error of omission">error of omission</option>
		<option data="li18n">i18n</option>
		<option data="environment_variables">environment_variables</option>
		<option data="least_privilege">least_privilege</option>
		<option data="origin">origin</option>
		<option data="specification">specification</option>
		<option data="complex_inputs">complex_inputs</option>
		<option data="frameworks_are_optional">frameworks_are_optional</option>
		<option data="secure_by_default">secure_by_default</option>
		<option data="language">language</option>
		<option data="security_by_obscurity">security_by_obscurity</option>
		<option data="vouch">vouch</option>
		<option data="serial_killer">serial_killer</option>
		<option data="discovered_method">discovered_method</option>
		<option data="native_wrappers">native_wrappers</option>
		<option data="sandbox">sandbox</option>
		<option data="yagni">yagni</option>
		<option data="project">project</option>
		<option data="user_interaction">user_interaction</option>
	</select>
</div>
</div>
<body>
    <label id="diagramDescription" for="tag-trends" style="font-size:20px; display:none;">A Sankey Diagram of Families Selected</label>
	<div id="tag-trends">
	</div>
</body>
<label id="vulnTableDescription" for="vulndatatable" style="font-size:20px; display:none;" >Vulnerabilities on Selected Path</label> <br>
<table id="vulndatatable" class="display" width="100%"></table>
    
<% end %>

<script type="text/javascript">
  var tagMap = <%= Oj.dump(@tagMap, mode: :rails).html_safe %>;
</script>