<% content_for(:title) do %>
  Tag Trends
<% end %>

<%= render('shared/title') do %>
  Tag Trends
<% end %>

<%= render('shared/grid', size: 12) do %>	

<div id="sideBar" style="height: 100%;
width: 0px;
position: fixed;
z-index: 1;
top: 0;
right: 0;
background-color: #111;
color: #fff;
overflow-x: hidden;
transition: 0.4s;
padding-top: 60px;">
  <button id="closeSideBar" style="border: 3px solid grey; background-color: #eee; cursor: pointer;">Close Tab</button>
  <div>
  <br>
  This webpage revolves around a Sankey Diagram of the connections between four different tag categories. The purpose of which is to add a unique visualization to the interaction between various tags.<br><br>
  Each of the nodes in the diagram are each a different individual tag with the inks between them, the number of vulnerabilities that shares both tags.  <br><br>
  When clicking on the nodes, they will be highlighted and the paths between them as well. The generated vulnerabilities table will list all the vulnerabilities that have all the selected tags.
  </div>

</div>

<button id="openSideBar" style="float: right; border: 2px solid grey; background-color: #eee; cursor: pointer;">About This Diagram</button>
<br>
<div style="text-align: center;" style="width: 90%;">
  <div>Select a distict tag category in each of the four tag category dropdowns to populate a Sankey Diagram with the tags in those categories.</div>
  <div id="helpText">Select any number of tag nodes to populate the vulnerability table with vulnerabilities that contain all of the selected tags. 
  <br> Control clicking on any of the tag node will redirect you to that tag's webpage. Clicking on any of the vulnerabilities will take you to that Vulnerability's webpage.</div>
</div>
<br>

<div style="text-align: center;">

<div id="familyContainer" style="text-align: center;">
    <select class="edit" style="left: 40px; top: 290px; width: 210px; cursor: pointer;" id="family1">
	    
	</select>
    <select class="edit" style="left: 40px; top: 290px; width: 210px; cursor: pointer;" id="family2">
	</select>
	<select class="edit" style="left: 40px; top: 290px; width: 210px; cursor: pointer;" id="family3">
	</select>
	<select class="edit" style="left: 40px; top: 290px; width: 210px; cursor: pointer;" id="family4">
	</select>
	
</div>

<span id="familyWarning" style = "font-size:20px; display:none; color:red;"></span>

<button type="button" id="revialButtons" style="background-color: #eee; color: #444; paddinng: 20px; height: 30px; border: none; outline: none; font-size: 22px; display: none; margin:0 auto; border: 2px solid grey; cursor: pointer;">Swap Columns</button>
<div id="buttonsContainer" style="padding: 0 18px; max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out; background-color: #f1f1f1;">
  <button id="swapFirst" style="left: 40px; top: 290px; width: 355px; cursor: pointer; border: 2px solid grey;">Swap First Two Columns<button>
  <button id="swapSecond" style="left: 40px; top: 290px; width: 355px; cursor: pointer; border: 2px solid grey;">Swap Middle Two Columns<button>
  <button id="swapThird" style="left: 40px; top: 290px; width: 355px; cursor: pointer; border: 2px solid grey;">Swap Last Two Columns<button>
</div>

</div>
<body>
    <label id="diagramDescription" for="tag-trends" style="font-size:20px; display:none; text-align: center;">A Sankey Diagram of Families Selected</label>
	<div id="tag-trends" style="padding-left: 130px">
	</div>
</body>
<button type="button" id="revialExcludedVuls" style="background-color: #eee; color: #444; paddinng: 20px;  height: 30px; border: none; text-align: left; outline: none; font-size: 22px; display: none; margin:0 auto; border: 2px solid grey; cursor: pointer;">Excluded Vulnerabilities</button>
<div id="excludedVulsContainer" style="padding: 0 18px; max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out; background-color: #f1f1f1; text-align: center;">
  excluded results
</div>
<label id="vulnTableDescription" for="vulndatatable" style="font-size:20px; display:none; text-align: center;" >Vulnerabilities on Selected Path</label> <br>
<table id="vulndatatable" class="display" width="100%"></table>
    
<% end %>

<script type="text/javascript">
  var tagMap = <%= Oj.dump(@tagMap, mode: :rails).html_safe %>;
</script>