<p id="notice"><%= notice %></p>

<div class="row">
  <div class="release">
    <p class="release-name"><%=@release.name %></p>
    <div class="release-meta">
      Released: <%=@release.date_released %>
    </div>
  </div>

<div class="release-details">
  <p class="release-details-header"></p>
  <div class="release-details-content">
    <ul class="accordian vertical menu" data-accordion-menu>
      <li>
        <a href="#">Details</a>
        <ul class="menu vertical nested">
          <li><%= pretty_code(@release.notes).html_safe %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</div>

