
  <div class="imageback">
    <img src="<%=image_path('header.png') %>" alt="page header" width="100%">
    <h4 class="animated fadeInDown">Browse our Case Studies</h4>
  </div>

  <div class="select-proj">
    <p>Select from one of the projects we are currently tracking vulnerability history for:</p>
    <div style="padding:25px; display:inline;">
      <a href="#apache-section" class="button info" style="margin-top: 20px;">Apache</a>
    </div>
    <div style="padding:25px; display:inline;">
      <a href="#chromium-section" class="button info" style="margin-top: 20px;">Chromium</a>
    </div>
  </div>

  <div class="projs">
    <div class="row" id="apache-section">
      <div class="small-6 large-5 columns">
        <img src="<%=image_path('apache-logo-full.png') %>" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <div class="small-6 large-7 columns" style="padding-left: 6vh;">
        <p style="padding-top: 8%;">Apache provides the support for the Apache Community of open-source projects, which provide software projects
        for the public good.<br><br>
        <a href="https://www.apache.org/" target="_blank">Visit Apache's website.</a>
        </p>
      </div>
    </div>
    <div style="text-align: center;">
      <img src="<%=image_path('sep-line.png') %>" width="50%" height="30vh" >
    </div>
    <div class="row" id="chromium-section">
      <div class="small-6 large-5 columns">
        <img src="<%=image_path('chromium-logo-full.png') %>" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <div class="small-6 large-7 columns" style="padding-left: 6vh;">
        <p style="padding-top: 5%;">Chromium is an open-source browser project that aims to build a safer, faster, and more stable solution for all
        web users.<br><br>
        <a href="https://www.chromium.org/" target="_blank">Visit Chromium's website.</a>
        </p>
      </div>
    </div>
  </div>
