  <div class="grid">
    <a href="/vulnerabilities/493">
    <div class="grid-item">
      <div class="grid-item-inner">
        <div><%=image_tag("graph-icon.png", alt:"graph icon", height: "100", width: "100")%></div>
        <div class="caption">A vulnerability example</div>
      </div>
    </div>
    </a>
    <div class="grid-item"><div class="grid-item-inner grid-inner-background2"></div></div>
    <div class="grid-item grid-item--height2 quip">
      <h1>Bad things happen when integers wrap around.</h1>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
      <p>Explore the tiles to learn more...</p>
    </div>
    <div class="grid-item "><div class="grid-item-inner grid-inner-background2"></div></div>
    <div class="grid-item"><div class="grid-item-inner"></div></div>
    <a href="/developers/1">
      <div class="grid-item ">
        <div class="grid-item-inner grid-inner-background3">
          <h2>Developer Vulnerability</h2>
        </div>
      </div>
    </a>
    <div class="grid-item"><div class="grid-item-inner grid-inner-background3"></div></div>
    <div class="grid-item grid-item--height2 quip">
      <h1>SQL injection vulnerabilities are bad too</h1>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
    <a href="/developers">
      <div class="grid-item">
        <div class="grid-item-inner grid-inner-background2">
          <h2>Developers</h2>
        </div>
      </div>
    </a>
    <div class="grid-item"><div class="grid-item-inner grid-inner-background3"></div></div>
    <div class="grid-item"><div class="grid-item-inner"></div></div>
    <div class="grid-item"><div class="grid-item-inner grid-inner-background2"></div></div>
    <div class="grid-item"><div class="grid-item-inner"></div></div>

  </div>

<%= javascript_include_tag "welcome/index" %>
