<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="assets/stylesheets/sem-ui.scss"></link>
</head>

<body>

  <div class="ui top fixed stackable menu">
    <div class="item">
      <img src="<%=image_path('icon-logo.png') %>">
      <p style="padding-left:10px;">The Vulnerability History <br> Project</p>
    </div>
    <div class="right menu">
      <a class="item">Researchers</a>
      <a class="item">CVE Data</a>
      <a class="item">About Our Projects</a>
    </div>
  </div>

  <div style="margin-top:70px;">
  <h1>Welcome</h1>

  <p>This is vulnerability history page.</p>

  <a href="vulnerabilities#index">Vulnerabilities</a>
  </div>

</body>
</html>
