<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 160 }'>
  <div class="grid-item"></div>
  <div class="grid-item grid-background2"></div>
  <div class="grid-item grid-background2"></div>
  <div class="grid-item"></div>
  <div class="grid-item grid-background3"></div>
  <div class="grid-item grid-item--width2 quip">
    <h1>Bad things happen when integers wrap around.</h1>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
  </div>
  <div class="grid-item grid-background3"></div>
  <div class="grid-item grid-background2"></div>
  <div class="grid-item grid-item--height4"></div>
  <div class="grid-item grid-background3"></div>
  <div class="grid-item"></div>
  <div class="grid-item grid-background2"></div>
  <div class="grid-item grid-item--height2"></div>

</div>

