<div class="welcome grid-x">
  <div class="cell">
    <h1 class="centered-title">The Vulnerability History Project</h1>
  </div>
</div>

<div class="welcome grid-x">
  <div class="subtitle cell text-center">
    A museum of mistakes
    <p>to help us engineer secure software.</p>
  </div>
</div>

<div id="article-listing"></div>
<%= render 'shared/article_templates' %>
<%= javascript_include_tag "welcome/index" %>
