
  <div class="imageback">
    <img src="<%=image_path('welcome-head.jpg') %>" alt="welcome header" width="100%" height="6vh">
    <h3 class="animated fadeInDown">Vulnerability <br> History Project <br>
      <div class="subheader" style="margin-top: 20px;">Visually analyze vulnerability history from an open source
      project.<br>Interpret data from vulnerability, source code, developer, and release history that is showcased
      in a <br> simple and interactive timeline.</div>
      <a href="projects" class="button info" style="margin-top: 20px;">Start by selecting a project</a>
    </h3>
  </div>

  <div class="row" style="margin-top: 10%; margin-bottom: 10%;">
    <div class="small-2 large-4 columns">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <!-- front content -->
            <img src="<%=image_path('github-icon.png') %>" width="30%" style="display: block; margin-left: auto; margin-right: auto;">
            <p style="text-align: center; margin-top: 10%;">Get familiar with where our data comes from and learn more about contributing to our repository.</p>
          </div>
          <a href="https://github.com/andymeneely/vulnerability-history" target="_blank">
            <div class="back" style="background:#e8f4f8;">
              <!-- back content -->
              <div class="back-title">See our repository!</div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="small-2 large-4 columns">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <!-- front content -->
            <img src="<%=image_path('graph-icon.png') %>" width="30%" style="display: block; margin-left: auto; margin-right: auto;">
            <p style="text-align: center; margin-top: 10%;">View the vulnerability data for a project.</p>
          </div>
          <a href="vulnerabilities">
            <div class="back" style="background:#e8f4f8;">
              <!-- back content -->
              <div class="back-title">Check out some vulnerability history!</div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="small-2 large-4 columns">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <!-- front content -->
            <img src="<%=image_path('research-icon.png') %>" width="30%" style="display: block; margin-left: auto; margin-right: auto;">
            <p style="text-align: center; margin-top: 10%;">Researchers can connect directly to our API <br> to get our data quick and easy.</p>
          </div>
          <a href="api/vulnerabilities">
            <div class="back" style="background:#e8f4f8;">
              <!-- back content -->
              <div class="back-title">View our API to get data directly from our source.</div>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>


